{% extends 'base.html' %}

{% block content %}
<div class="flashcards_container">
    <h1>Flashcards</h1>
    <form action="{{ url_for('student.flashcards') }}" method="post">
        <h4>Select course: </h4>
        <div class="field_upload">
            <div class="control_upload">
                <select name="course_id" id="course_id">
                    {% for course in course_for_student%}
                    <option value="{{ course.id }}">{{ course.subject}} {{ course.course}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="generate-btn" >View Flashcards</button>
    </form>
{% endblock %}