{% extends 'base.html' %}

{% block content %}
<div class="flashcards_container">
    <h1>Flashcards</h1>

    <form action="{{ url_for('student.flashcards') }}" method="get">
        <button type="button" class="generate-btn" onclick="showCard(0)">View Flashcards</button>
    </form>

    <!-- Store flashcards data in a data attribute -->
    <div id="flashcards" data-flashcards="{{ flashcards|safe }}" style="display:none;"></div>

    <div class="flashcard" id="flashcard">
        <div class="front">
            <p id="question"></p>
        </div>
        <div class="back">
            <p id="answer"></p>
        </div>
    </div>
    <div class="buttons">
        <button onclick="flipCard()" class="action-btn">Flip Card</button>
        <button onclick="nextCard()" class="action-btn">Next Card</button>
    </div>
</div>
<script src="{{ url_for('static', filename='js/flashcards.js') }}"></script>
{% endblock %}
