{% extends 'base.html' %}

{% block content %}
<div class="flashcards_container">
    <h1>Flashcards for {{ course.subject}} {{ course.course}}</h1>
    <!-- Store flashcards data in a data attribute -->
    <!-- <form action="" method="get"> -->
        
        <div id="flashcards" data-flashcards='{{ flashcards|tojson|safe }}' style="display:none;"></div>

        <div class="flashcard" id="flashcard">
            <div class="front">
                <p id="question"></p>
            </div>
            <div class="back">
                <p id="answer"></p>
            </div>
        </div>
        <div class="buttons">
            <button onclick="flipCard()" class="action-btn">Flip Card</button>
            <button onclick="nextCard()" class="action-btn">Next Card</button>
            <button onclick="lastCard()" class="action-btn">Last Card</button>
            <button onclick="translateCard()" class="action-btn">German</button>
        </div>
    <!-- </form> -->
</div>
<script src="{{ url_for('static', filename='js/flashcards.js') }}"></script>
{% endblock %}

