{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}About{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<p style="max-width:500px;">
  <font size="+2">
  <center><b>Preppy</b> </font>
  <br>
  <i>This is a website created during the spring semester of 2024 starting in the course of LLM in education.
  <br><br>For more information please visit my <a href="https://github.com/SvenjaCSch/preppy"></a>GitHub page</a>

  <br>Github: https://github.com/SvenjaCSch/preppy
  </center>
{% endblock content %}