<!DOCTYPE html>
<html lang="en">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Preppy - {% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <div class="header-content">
          {% if not current_user.is_authenticated %}
          <a href="{{ url_for('pages.home') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}"alt="Graduation Cap Icon" class="graduation-icon">
          </a>
          {% endif %}
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('student.landing') }}">
            <img src="{{ url_for('static', filename='images/Logo.png') }}"alt="Graduation Cap Icon" class="graduation-icon"></a>
            {% endif %}
          </div>
         
            <div class="myBtnhome">
              {% if not current_user.is_authenticated %}
                <a href="{{ url_for('pages.home') }}">
                    <img src="{{ url_for('static', filename='images/house-chimney.png') }}" alt="Home" class="icon">
                </a>
              {% endif %}
              {% if current_user.is_authenticated %}
              <a href="{{ url_for('student.landing') }}">
                  <img src="{{ url_for('static', filename='images/house-chimney.png') }}" alt="Home" class="icon">
              </a>
              {% endif %}
            </div>
            {% if current_user.is_authenticated %}
            <div class="myBtnback">
                <a href="{{ previous_url }}">
                    <img src="{{ url_for('static', filename='images/arrow-circle-left.png') }}" alt="Back" class="icon">
                </a>
            </div>
            {% endif %}
        <div class="myBtnLogout">
          <a href="{{ url_for('auth.logout') }}"><img src="{{ url_for('static', filename='images/icons8-logout-50.png') }}" alt="Logout", class="icon">
          </a>
        </div>
    </header>
<section>
  <main>
    {% block content %}<p>No messages.</p>{% endblock content %}
  </main>
</section>
<footer>
    <p><a href="{{ url_for('pages.about') }}">About</a></p>
    <button onclick="topFunction()" id="myBtn" title="Go to top">
      <img src="{{ url_for('static', filename='images/arrow-circle-up.png') }}"alt="Top Arrow Icon", class="icon">
    </button>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</footer>
</body>
</html>