/*Main*/
html{
  height:100%;
  box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f4f7;
    overflow-y: scroll;
    margin-bottom: 50px;
    min-height: 100%;
    padding-bottom: 6.74rem;
    box-sizing: inherit;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

header {
    background-color: #80a89e;
    padding: 0.5rem;
    height: 130px;
}


.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.graduation-icon {
    width: 120px;
    height: 120px;
}
.graduation-icon:hover{
  opacity: 0.8;
}

.icon{
  width: 30px;
  height: 30px;
}

main {
    padding: 2rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-top: 32px;
}

.main-content {
    display: flex;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.option {
    flex: 1;
    padding: 1rem;
    background-color: #cfd8dc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.option h2 {
    margin-top: 0;
    font-size: 2rem;
}

.option p {
    font-size: 1rem;
    color: #333;
}

.highlight {
    color: #006400;
    font-weight: bold;
}

button {
    background-color: #006400;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

button:hover {
    background-color: #004d00;
}

footer {
    background-image: linear-gradient(90deg, #80a89e 100%, #000 50%);
    color: #fff;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 1rem;
}

a,
a:visited {
    color: #fff;
  }

  a:hover {
    color: #80a89e;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 5px;
  }
  
  main {
    width: 80%;
    margin: 0 auto;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #80a89e;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #d2ede6;
  }

  .myBtnhome {
    position: absolute;
    right: 20px;
    top: 10%;
    transform: translateY(-50%);
}

.myBtnhome a img.icon {
    cursor: pointer;
}

.myBtnhome a img.icon:hover {
  background-color: #d2ede6;
}

.myBtnLogout {
  position: absolute;
  right: 60px;
  top: 10%;
  transform: translateY(-50%);
}

.myBtnLogout a img.icon {
  cursor: pointer;
}

.myBtnLogout a img.icon:hover {
  background-color: #d2ede6;
}

.myBtnback {
  position: absolute;
  right: 100px;
  top: 10%;
  transform: translateY(-50%);
}

.myBtnback a img.icon {
  cursor: pointer;
}

.myBtnback a img.icon:hover {
  background-color: #d2ede6;
}

/*Login and Signin*/

article,
form {
  text-align: left;
  min-width: 200px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px #ccc;
  vertical-align: top;
}

aside {
  color: #ccc;
  text-align: right;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.message {
  font-size: 2.5em;
  font-family: serif;
  margin: 0;
  padding: 0;
}

.flash {
    padding: 20px;
    margin: 20px;
  }
  
  .flash.error {
    background-color: #ffa7ae;
    color: #a02a36;
  }
  
  .flash.success {
    background-color: #96faad;
    color: #1c7530;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #add4ca;
    padding: 2rem;
    border-radius: 10px;

    max-width: 800px;
    width: 100%;
    max-height: 400px;
    
}

h3.title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.box {
    background-color: #add4ca;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.notification.is-danger {
    background-color: #85172d;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.field {
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;

}

.control {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.input.is-large {
    font-size: 1.25rem;
    width: 100%
}

.checkbox {
    font-size: 1rem;
    color: #333;
}

.buttons3 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.button {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    cursor: pointer;
    margin-top: 1rem;
    flex: 1;
    width: 100%;
    
    
}

.button.is-block {
    display: block;
    width: 100%;
    justify-content: center;
}

.button.is-info {
    background-color: #006400;
    color: white;
}

.button.is-info:hover {
    background-color: #004d00;
}

.button.cancel {
    background-color: #80a89e;
}

.button.cancel:hover {
    background-color: #2e8b57;
}

.button.register {
    background-color: #80a89e;
}

.button.register:hover {
    background-color: #2e8b57;
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 2px;
  background: url("{{ url_for('static', filename='Backimage.png') }}");
  background-size: cover;
}

.landing-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  width: 800px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.8); /* White background with transparency */
  border-radius: 10px;
}

.landing-card {
  background: #a3c9c7;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.landing-card h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.landing-card:hover {
  transform: translateY(-10px);
}

@media (max-width: 768px) {
  .landing-grid {
      grid-template-columns: 1fr;
  }
}

/* Help Box */
.help_window {
  position: absolute;
  max-width: 800px;
  min-height: 200px;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.help_top_menu {
  background-color: #fff;
  width: 100%;
  padding-bottom: 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  box-sizing: inherit;
  margin: auto;
  text-align: center;
}

.help_top_menu .title {
  color: #80a89e;
  font-size: 20px;
  font-weight: bold;
}

.help_content {
  padding: 20px;
  font-size: 16px;
  color: #333;
}

.help_bottom_menu {
  text-align: center;
}

.help_bottom_menu .btn.new {
  background-color: #006400;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.help_bottom_menu .btn.new:hover {
  background-color: #004d00;
}

/*Chatbot*/
.chatbot-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chat-header {
  background-color: #004d00;
  padding: 10px;
  color: white;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.chat-content {
  padding: 20px;
  height: 400px;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
}
.chat-bubble {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}
.chat-bubble.user {
  background-color: #e0e0e0;
  text-align: right;
}
.chat-bubble.bot {
  background-color: #d1ffd1;
  text-align: left;
}
.chat-input {
  padding: 10px;
}
.chat-input form {
  display: flex;
  justify-content: space-between;
}
.chat-input input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}
.chat-buttons {
  display: flex;
  gap: 10px;
}
.chat-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-buttons .btn.submit {
  background-color: #006400;
  color: white;
}

.chat-buttons .btn.submit:hover {
  background-color: #004d00;
}

.chat-buttons .btn.new  {
  background-color: #80a89e;
}

.chat-buttons .btn.new:hover {
  background-color: #2e8b57;
}

.chat-buttons .btn.help  {
  background-color: #80a89e;
}

.chat-buttons .btn.help:hover {
  background-color: #2e8b57;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ddd;
}
#progress {
  width: 0%;
  height: 100%;
  background-color: #4CAF50;
}

/*flashcards*/

.flashcards_container {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.generate-btn, .view-flashcards, .action-btn {
  background-color: #80a89e; /* Button color */
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.generate-btn:hover, .action-btn:hover .view-flashcards:hover {
  background-color: #2e8b57; /* Darker shade on hover */
}

.view-flashcards {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.flashcard {
  perspective: 1000px; /* Perspective for 3D effect */
  margin: 20px auto;
  width: 100%;
  height: 200px; /* Height of the flashcard */
}

.front, .back {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: white;
  position: absolute;
  backface-visibility: hidden; /* Hide back side when front is visible */
  transition: transform 0.6s; /* Smooth flip effect */
}

.back {
  transform: rotateY(180deg); /* Rotate the back side */
}

.flashcard.flipped .front {
  transform: rotateY(180deg); /* Rotate front when flipped */
}

.flashcard.flipped .back {
  transform: rotateY(0); /* Show back when flipped */
}

.buttons {
  margin-top: 20px;
}