{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <div class="box">
        <form action="{{ url_for('teacher.upload_file') }}" method="post" enctype="multipart/form-data">
            <label for="file"><b>Upload Course Material</b></label>
            <input id="file" name="file" type="file" required />
            <h4>Assign a course to the pdf: </h4>
            <div class="field_upload">
                <div class="control_upload">
                    <select name="course" id="course">
                        {% for course in courses%}
                        <option value="{{ course.id }}">{{ course.subject}} {{ course.course}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button onclick="move('progress')">Upload</button>
            <div class="progress-bar">
                <div id="progress"></div>
            </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}

