{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <div class="box">
        <form action="{{ url_for('teacher.upload_file') }}" method="post" enctype="multipart/form-data">
            <label for="file"><b>Upload Course Material</b></label>
            <input id="file" name="file" type="file" required />
            <button onclick="move()">Upload</button>
            <div class="progress-bar">
                <div id="progress"></div>
            </div>
    
        </form>
        <form action="{{ url_for('teacher.generate_flashcards') }}" method="post">
            <button type="submit" onclick="move('progress2')">Generate Flashcards</button>
            <div class="progress-bar">
                <div id="progress2"></div>
            </div>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}

